/* html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px; 
  padding: 20px;
  background-color: hsl(0, 0%, 96%); 
  height: 86vh;
}

.left {
  flex: 1;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column; 
  gap: 15px;              

.left textarea {
  flex: 1;                
  width: 100%;             
  background: #121212;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px;
  resize: none;
  font-size: 14px;
}

.right {
  flex: 2;
  background-color: #070606;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.left button {
  background-color: #01090c;   
  color: white;               
  padding: 10px 20px;        
  border: none;              
  border-radius: 6px;          
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;   
}

.left button:hover {
  background-color: #058c98;  
  transform: scale(1.05);     
}

.left button:active {
  background-color: #059295;   
  transform: scale(0.95);      
} */
