/* html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px; 
  padding: 20px;
  background-color: hsl(0, 0%, 96%); 
  height: 86vh;
}

.left {
  flex: 1;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column; 
  gap: 15px;              
}

.left textarea {
  flex: 1;                
  width: 100%;             
  background: #121212;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px;
  resize: none;
  font-size: 14px;
}


.left button {
  background-color: #01090c;   
  color: white;               
  padding: 10px 20px;        
  border: none;              
  border-radius: 6px;          
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;   
}

.left button:hover {
  background-color: #058c98;  
  transform: scale(1.05);     
}

.left button:active {
  background-color: #059295;   
  transform: scale(0.95);      
} */


html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px; 
  padding: 20px;
  background-color: hsl(0, 0%, 96%); 
  height: 86vh;
}

.left {
  flex: 1;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 8px;

  display: flex;
  flex-direction: column; 
  gap: 15px;              
}

.left textarea {
  flex: 1;                
  width: 100%;             
  background: #121212;
  color: white;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 10px;
  resize: none;
  font-size: 14px;
}

.left button {
  background-color: #01090c;   
  color: white;               
  padding: 10px 20px;        
  border: none;              
  border-radius: 6px;          
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;   
}

.left button:hover {
  background-color: #058c98;  
  transform: scale(1.05);     
}

.left button:active {
  background-color: #059295;   
  transform: scale(0.95);      
}

.upload-form {
  background-color: #f6f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  gap: 15px;
}

.upload-form input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  cursor: pointer;
}

.upload-form button {
  background-color: #058c98;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-form button:hover {
  background-color: #046d75;
  transform: scale(1.05);
}

.upload-form button:active {
  background-color: #035d64;
  transform: scale(0.95);
}
